/* @group conteneurPrincipal */

body { 	font: normal 11px  ProxThin, Helvetica, Arial, sans-serif;		color:black;	position:absolute;	top: 0px;	left: 0px;	margin: 0px; 
	background:  url(../../../contenufra/image/g0commun/menu/bandeau01_fond.png) repeat-x top left;
	background-color: #ccc;
}
/*marron #9A6714*/
	/*#69a8d7 bleu*/
    /*violet 28001d */

#conteneur-principal {	
	width:1023px; 
	height:768px;	left: 0px; 	top: 0px;	margin: 0px; 		padding: 0px;
	padding-bottom:20px;
	background: url(../../../contenufra/image/g0commun/_MG_3870.jpg) no-repeat  ;
	/* #016688*/

	/*border: solid 1px;*/
	}

/* @group menu */
#menu {
	/* SURCHARGE du menu par defaut */
	position:absolute; 
	top: 0px; 
	left: 0px;	
	margin: 0px;
	padding: 0px;
	width: 1023px;
	height:101px;
	background: url(../../../contenufra/image/g0commun/menu/bandeau01_deco_01.png) no-repeat top left;
}


/* @end */

/* @group menu-secondaire */
#menu-secondaire01 {

	position: absolute;
	width: 300px;
	height: 30px;
	top: 99px;
	left: 371px;
	
	
}
#menu-secondaire01 ul  {
	position: relative;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	
}
#menu-secondaire01  li {
	position: relative;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	
}
#menu-secondaire01 span {
	display: none;
	margin: 0px;
	padding: 0px;
	}

a.menu-2145 {
	display: block;
	width: 88px;
	height: 22px;
	background:  url(../../../contenufra/image/g0commun/menu/menu_secondaire_01.png) no-repeat bottom right;
	float: left;
}



a.menu-2144 {
	display: block;
	width: 82px;
	height: 22px;
	background:  url(../../../contenufra/image/g0commun/menu/menu_secondaire_03.png) no-repeat bottom right;
	float: left;
}



a.menu-2142 {
	display: block;
	width: 61px;
	height: 22px;
	background:  url(../../../contenufra/image/g0commun/menu/menu_secondaire_02.png) no-repeat bottom right;
	float: left;
}





a.menu-architecture {
	display: block;
	width: 88px;
	height: 22px;
	background:  url(../../../contenufra/image/g0commun/menu/menu_secondaire_01.png) no-repeat bottom right;
	float: left;
}



a.menu-technique {
	display: block;
	width: 82px;
	height: 22px;
	background:  url(../../../contenufra/image/g0commun/menu/menu_secondaire_03.png) no-repeat bottom right;
	float: left;
}



a.menu-nature {
	display: block;
	width: 61px;
	height: 22px;
	background:  url(../../../contenufra/image/g0commun/menu/menu_secondaire_02.png) no-repeat bottom right;
	float: left;
}






/* @end */

/* @group corps-de-page */

#corps-de-page {	
	position:absolute;	width:901px; 
	height:668px;
	left: 122px; 	top: 100px;	margin:0px;
	background:   url(../../../contenufra/image/g0commun/menu/bandeau20_fond.png) repeat;
	}
	
	#widget-illustration {
	position:absolute;
	top:50px;
	left:26px;
}
	
#corps-de-page div + div  {	
	margin-bottom:20px;
}



/* @group commande */

a.deplacement-gauche  {
	display: block;
	float: left;
	margin-right:5px;
	background: url(../../../contenufra/image/g2galerie/bouton_gauche.png) left top no-repeat;	
	width:13px;
	height:13px;

}

a.deplacement-stop  {
	display: block;
	float: left;
	margin-right:5px;
	background: url(../../../contenufra/image/g2galerie/bouton_stop.png) left top no-repeat; 
	width:13px;
	height:13px;
	
}

a.deplacement-droite {
	display: block;
	float: left;
	margin-right:5px;
	background: url(../../../contenufra/image/g2galerie/bouton_droite.png) left top no-repeat; 
	width:13px;
	height:13px;	
}

#commande {
	position:absolute;
	z-index:3; 
	width:54px; 
	height:13px; 
	left: 308px; 
	top: 0px;
}

#commande span {
	display:none;
}
/* @end */


/* @group cadre-traits */
	
	
#trait1 {
	position:absolute; 
	margin: 0px;
	width:300px; 
	height:1px; 
	z-index:14; 
	left: 0px; 
	top:0px; 
	border-top: 1px solid #333;
}

#trait2 {
	position:absolute;
	margin: 0px; 
	width:1px; 
	height:50px; 
	z-index:14; 
	left: 0px; 
	top: 0px; 
	background-color: #333; 
}

#trait3 {
	position:absolute; 
	margin: 0px;
	width:1px; 
	height:50px; 
	z-index:14; 
	left: 300px; 
	top: 0px; 
	background-color: #333; 
}


#trait4 {
	position:absolute; 
	margin: 0px;
	padding: 0px;
	width:301px; 
	height:1px; 
	z-index:14; 
	left: 0px; 
	top: 50px;
	border-top: 1px solid #333;
}
/* @end */



/* @group pre-visualisation */

#cache {
	position: absolute;
	z-index:11;
	left:5px; 
	top:5px; 
	width:305px; 
	height:55px; 
	clip:rect(0px, 300px, 50px, 0px);
	}	



#previsualisation {
	position: absolute;
	z-index:10;
	width:5000px; 
	height:50px; 
	margin:0px;
	padding:0px;
	left: 0px; 
	top: 0px; 

}

#previsualisation a img {
	z-index:1;
	float:left;
	margin:0px;
	padding:0px;
	border:0px;
}



/* @end */

/* @group visualisation */

#visualisation {
	position:absolute; 
	width:600px; 
	height:500px; 
	z-index:4; 
	left: 100px; 
	top: 128px;
	
}

#visualisation img {
	float:left;
	margin:0px;
	padding:0px;
	border: 1px solid;
	border-color:black;
}
	
#illustration {
	position:absolute; 
	width:600px; 
	height:500px; 
	z-index:3; 
	left: 0px; 
	top: 0px;
	margin: 50px;
}



#illustration img {
	float:left;
	margin:-1px;
	margin-top: 0px;
	margin-right: -1px;
	padding:0px;
	border: 1px solid;
	border-color:black;
}

#illustration embed {
	float:left;
	margin:-1px;
	margin-top: 0px;
	margin-right: -1px;
	padding:0px;
	border: 1px solid;
	border-color:black;
}

#mosaic {
	position:absolute; 
	width:600px; 
	height:500px; 
	z-index:4; 
	left: 0px; 
	top: 0px;
	margin: 45px;
	/*background:red;*/
}


#mosaic img {
	float:left;
	margin:7px;
	padding:0px;
	border: 1px solid;
	border-color:black;
	width: 100px;
	top: 50px;
	background: orange;
}

/* @end */


/* @end */


/* @group en-tete-page */


#entete-de-page { 
	margin:0px;
	background: red;
	}

#entete-de-page h1 { 
	margin:0px;
	}

#entete-de-page h1 span {
	display:none;
	}

#entete-de-page h2 { 
	margin:0px;
	}

#entete-de-page h2 span {
	display:none;
	}
/* @end */



/* @group bas-de-page */
#bas-de-page  { 	position:absolute;
	top: 1200px;
	left: 72px;
	margin:0px;
	padding:0px;
	}
	
#bas-de-page .p1 span {	font:  normal 8px ProxThin, Helvetica, Arial, sans-serif;	
	color: white;}
/* @end */



/* @end */


















	

	
	
	
	